.portfolio {
    margin-left: 10px;
    margin-right: 10px;
}

.project {
    margin: auto;
    margin-top: 50px;
    display: block;
    width: 70%;
    max-width: 600px;
}

.project-img {
    width: 100%;
    margin: auto;
    display: block;
}

.project-description {

}

