/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* purgecss start ignore */
html {
  background-color: #2d3748;
}

.grecaptcha-badge {
  visibility: hidden;
}

.neu-border {
  box-shadow: 5px 5px 10px #272c32, -5px -5px 10px #3f4852,
    inset -2px -2px 5px #3f485280, inset 2px 2px 5px #272c3280;
}

.neu-inset {
  box-shadow: inset 5px 5px 10px #272c32, inset -5px -5px 10px #3f4852;
}

.neu-border-button {
  box-shadow: 3px 3px 5px #272c32, -3px -3px 5px #3f4852,
    inset -1px -1px 2px #3f485280, inset 1px 1px 2px #272c3280;
}

.neu-border-button:active {
  box-shadow: inset -3px -3px 5px #3f4852, inset 3px 3px 5px #272c32;
}

/* purgecss end ignore */
