/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* purgecss start ignore */
html {
  font-family: "Nunito Sans", sans-serif;
}

.mbmHeader {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  /*text-shadow: 1px 1px 0px #ffd23f;*/
}

.text-shadow {
  text-shadow: 1px 1px 2px #00000077;
}

.neu-border {
  box-shadow: 4px 4px 2px #272c32, -2px -2px 2px #818b96c0,
    inset -2px -2px 2px #818b9680, inset 2px 2px 2px #272c32;
}

.neu-inset {
  box-shadow: inset 4px 4px 5px #272c32, inset -2px -2px 7px #818b9698;
}

.neu-border-button {
  /* background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.22),
    rgba(255, 255, 255, 0.25)
  ); */
  box-shadow: 1px 1px 3px 0 #00000077, -1px -1px 3px 0 #ffffff,
    inset 1px 1px 2px #ffffff, inset -1px -1px 2px #00000077;
}

.neu-border-button:active {
  box-shadow: inset -3px -3px 5px #818b9680, inset 3px 3px 5px #272c32;
}

/* purgecss end ignore */
