<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{{ page.title }} | {{site.name}}</title>

{% if page.model %}
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:type" content="threed.asset" />
    <meta property="og:description" content="3D model of {{page.title}} from Models by Mike" /> 
    <meta property="og:asset" content="{{site.url | replace: 'https', 'http'}}{{ page.model }}" />
    <link rel="model" type="model/gltf+binary" href="{{site.url}}{{page.model}}">
{% endif %}
</head>
<body>

</body>
</html>
