<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{{ page.title }} | {{site.name}}</title>

{% if page.model %}
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:type" content="threed.asset" />
    <meta property="og:description" content="3D model of {{page.title}} from Models by Mike" /> 
    <meta property="og:asset" content="{{site.url | replace: 'https', 'http'}}{{ page.model }}" />
{% endif %}
</head>
<body>
    <p>If you're here, you probably clicked a link in a 3D model you saw on Facebook. <a href="{{site.url}}{{page.url | replace: '/embed', '/post'}}">Click here</a> to head to our main page.</p>

</body>
</html>
