<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{{ page.title }} | {{site.name}}</title>

{% if page.model %}
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:type" content="threed.asset" />
    <meta property="og:description" content="3D model of {{page.title}} from Models by Mike" /> 
    <meta property="og:asset" content="{{site.url | replace: 'https', 'http'}}{{ page.model }}" />
{% endif %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
<link href="{{ site.baseurl }}/assets/css/screen.css" rel="stylesheet">

<link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">

<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>

{% include cookies.html %}

</head>
<body>
    <p>If you're here, you probably clicked a link in a 3D model you saw on Facebook. <a href="{{site.url}}{{page.url | replace: '/embed', '/post'}}">Click here</a> to head to our main page.</p>

</body>
</html>
