---
layout: default
archive: false
post_class: post-template
permalink: ":layout/:title/"
---

<!-- Viewer comes from here: https://github.com/AVGP/gltf-viewer -->

<!--script src="https://unpkg.com/@webcomponents/webcomponentsjs@%5E2/"></script
<script src="/assets/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
-->

{% include instructions.html %}

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {% include share.html %}
        </div>

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }}</h1>

            </div>

            <!-- Model Viewer -->
            {% include viewer.html %}

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
                {{content}}
            </div>

            <div id="link-box">

                <a id="model-download" class="model-download-link" href={{page.model}} onclick="ga('send', 'event', 'link', 'Download', '{{page.title}}');" download>Download!</a>

                <a id="model-share" class="model-download-link" target="_blank" href="https://facebook.com/sharer/sharer.php?u={{site.url | replace: 'https', 'http'}}{{ page.url | replace: '/post', '/embed'}}" onclick="ga('send', 'event', 'link', 'Share', '{{page.title}}');window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
                    Share on Facebook!
                </a>

                <a class="model-download-link" href="#" onclick="showInstructions();">Instructions</a>
                
            </div>

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>

            <!-- Post Categories -->
            <div class="after-post-cats">
                <ul class="tags mb-4">
                    {% assign sortedCategories = page.categories | sort %}
                    {% for category in sortedCategories %}
                    <li>
                        <a class="smoothscroll" href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">{{ category }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Categories -->

            <!-- Post Tags -->
            <div class="after-post-tags">
                <ul class="tags">
                    {% assign sortedTags = page.tags | sort %}
                    {% for tag in sortedTags %}
                    <li>
                        <a class="smoothscroll" href="{{site.baseurl}}/tags#{{ tag | replace: " ","-" }}">#{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- End Tags -->

            <!-- Prev/Next -->
            <!--
                Taking this out because the embed pages get mixed in
                and it's a confusing experience for the user
            <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
            {% if page.previous.url %}
            <a class="prev d-block col-md-6" href="{{page.previous.url | absolute_url}}"> &laquo; {{page.previous.title}}</a>
            {% endif %}
            {% if page.next.url %}
            <a class="next d-block col-md-6 text-lg-right" href="{{page.next.url | absolute_url}}">{{page.next.title}} &raquo; </a>
            {% endif %}
            -->
            <div class="clearfix"></div>
            </div>
            <!-- End Categories -->

        </div>
        <!-- End Post -->

    </div>
</div>
<!-- End Article
================================================== -->